<svg width='100%' height='20px'>
    <g class='bars'>
        <rect fill='{{ bar_colors.background }}'
              height='20px'
              width='100%'>
        </rect>
        <line x1="0" y1="0" x2="100%" y2="0" stroke="#ddd"></line>
        <line x1="100%" y1="0" x2="100%" y2="20" stroke="#ddd"></line>
        <line x1="0" y1="20" x2="100%" y2="20" stroke="#ccc"></line>

        <rect height='20px'
                {% if total_items and total_items > 0 %}
              fill='{{ bar_color }}'
              width='{{ percent_complete }}%'
                {% else %}
              fill='#ccc'
              width='100%'
                {% endif %}>
        </rect>
    </g>
</svg>
