{% load crispy_forms_tags %}

{% comment %}
This is the default "panel" template to be used when showing a panel in a block editing UI.
It displays the form for the panel and the save/done buttons.

It also toggles the disabled state of the save/done buttons based on whether the form has changed.

If a panel needs a more complicated UI than this, it can override or replace this template.
(The template that a panel uses is defined in the Panel dataclass.)

{% endcomment %}

<div class="card">
  <div class="card-body panel-content">
    {% csrf_token %}
    {{ panel_form.media }}
    {% crispy panel_form %}

    {% block extra_panel_content %}
    {% endblock extra_panel_content %}
  </div>

  <div class="card-footer action-buttons">

    <div class="me-auto">
      {% block left_side_action_buttons %}

      {% endblock left_side_action_buttons %}
    </div>

    <a id="btn-cancel-panel-{{ block.id }}-{{ current_panel_slug }}"
       href="{% url 'composer:course_edit_unit_node' course_id=course.id unit_node_id=unit_node.id %}"
       class="btn btn-warning btn-sm action-button d-none ml-auto">
      Cancel
    </a>

    <button id="btn-save-panel-{{ block.id }}-{{ current_panel_slug }}"
            type="submit"
            disabled
            class="btn btn-primary btn-sm action-button  ms-3 d-none">
      Save
    </button>

    <button id="btn-done-panel-{{ block.id }}-{{ current_panel_slug }}"
            hx-on::before-request="window.klmsDestroyCurrentPanelForm()"
            hx-get="{% url 'composer:blocks:view_course_unit_block_hx' course_id=course.id module_node_id=module_node.id section_node_id=section_node.id unit_node_id=unit_node.id course_unit_id=course_unit.id pk=block.id %}"
            type="button"
            class="btn btn-secondary btn-sm action-button">
      Done
    </button>
  </div>

</div>

<script>
  htmx.onLoad(function() {
    try {
      klmsInitComposerImageDropZone();
    } catch (e) {
      console.error("Could not init image-drop-zone: ", e);
    }
  });
</script>
