
.bcls-poster-header {
  margin-top: 30px !important;
}

.bcls-poster-holder {
  margin: 20px 0 10px;
}

.bcls-poster {
  width: 100%;
}

.subhead {
  padding-bottom: 10px; border-bottom: 1px dotted #999;
}

