{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load core_tags %}
{% load account %}
{% load crispy_forms_filters %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 ms-auto me-auto">
                <div class="account-container">

                    <div class="header">{% trans "Password Reset" %}</div>

                    <div class="contents">

                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-primary mt-3" type="submit" value="{% trans 'Reset My Password' %}"/>
                        </form>
                        <br/>
                        <p>
                            {% with contact_email=support_email %}
                                {% blocktrans %}
                                    Please <a href="mailto:{{ contact_email }}">contact us</a> if you have any
                                    trouble resetting your password.
                                {% endblocktrans %}
                            {% endwith %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

