{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner %}

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>{% trans "Verify Your E-mail Address" %}</h1>

      <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup
        process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
      <p>{% blocktrans %}
        <em>IMPORTANT! You will not able to log in until you verify your email.</em>{% endblocktrans %}</p>
    </div>
  </div>
{% endblock %}

