{% extends "course/course_base_default_page.html" %}
{% load static tz react %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'custom_app/css/course-speakers.css' %}"/>
{% endblock extra_css %}

{% block sidebar %}
    <!-- no course nav -->
{% endblock %}

{% block course_sub_nav %}
    <div class="course-subnav-label">
        Short biographies of speakers featured in this course (alphabetical by last name)
    </div>
{% endblock %}


{% block page_content %}

    <div class="container-fluid course-speakers">
        {% for course_speaker in course_speakers %}
            <div class="row speaker mt-5" id="speaker-row-{{ course_speaker.speaker.slug }}">
                <div class="col-md-4 col-xs-12">
                    {% if course_speaker.show_bio_video %}
                        <div class="ratio ratio-16x9">
                            <iframe title="YouTube video introducing course speaker {{ course_speaker.speaker.full_name }}"
                                    class="embed-responsive-item"
                                    src="https://youtube.com/embed/{{ course_speaker.video_url }}?rel=0"></iframe>
                        </div>
                    {% elif course_speaker.headshot_url %}
                        <div class="profile-pic-container mt-1">
                            <img src="{{ course_speaker.headshot_url }}" class="img-thumbnail"
                                 alt="Image of {{ course_speaker.speaker.full_name }}"/>
                        </div>
                    {% else %}
                        {# no video or headshot available for this speaker #}
                    {% endif %}
                </div>
                {% with course_speaker.speaker as speaker %}
                    <div class="col-md-8 col-xs-12 mt-md-0 mt-4 mb-6 speaker-bio-info">
                        <div class="info-name">
                            {{ speaker.full_name }}
                            {% if speaker.suffix %}, {{ speaker.suffix }}
                            {% endif %}
                        </div>
                        <div class="info-title">{{ speaker.title|safe|default_if_none:"" }}</div>
                        <div class="info-university" style="margin-bottom:1rem;">
                            {{ speaker.institution|safe|default_if_none:"" }}</div>

                        {% if speaker.pronouns %}
                            <div class="info-pronouns mb-2">
                                <span class="text-muted">Pronouns: </span> {{ speaker.pronouns }}
                            </div>
                        {% endif %}

                        {% if speaker.identities %}
                            <div class="info-identities">
                                <span class="text-muted">Identities: </span> {{ speaker.identities }}
                            </div>
                        {% endif %}


                        <div class="info-bio">
                            <span class="text-muted">Bio:</span><br/>
                            {{ speaker.bio | safe }}
                        </div>
                    </div>
                    </div>
                {% endwith %}
        {% endfor %}
    </div>


{% endblock page_content %}

{% block unit_controls_bottom %}
{% endblock unit_controls_bottom %}

