
:global(.tray-widget) {
  min-width: 200px;
  max-width: 250px;
  background: linear-gradient(152deg, #e7ebf2, #d6dcea);
  padding: 2rem;
}

:global(.tray-item) {
  cursor: pointer;
  margin-bottom: 1rem;
}


:global(.tray-instructions) {
  margin-top: 3rem;
  font-size: 0.9rem;
}
