{% extends "management/management_base.html" %}

{% load static i18n %}

{% load crispy_forms_filters %}

{% block management_content %}

    <div class="row">
        <div class="col-lg-6 col-12">

            <form action="{% url 'management:site_features' %}" method="post">
                <div class="card ms-auto">
                    <div class="card-header">Edit Site Features</div>

                    <div class="card-body">

                        <p>Use this form to enable or disable features for this site.</p>

                        {% csrf_token %}
                        {{ form|crispy }}

                    </div>

                    <div class="card-footer">
                        <div class="action-buttons">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>

{% endblock management_content %}
