{% load static %}

<div class="feature-row kn-peers">
    <div class="feature-container">
        <div class="col-graphic">
            <figure class="figure">
                <img src="{% static 'marketing/images/community.png' %}"
                     alt="Illustration of various people connected in a network." />
                <figcaption class="figure-caption image-attribution">
                    Avatars by <a href="https://www.freevector.com/people-avatar-icon-collection-40507">FreeVector.com</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-content">
            <h2>Peer Interaction</h2>
            <p>
                Our courses encourage peer-to-peer interaction, because that's where learning happens.
                Join a community of like-minded students and professionals who want to learn.
            </p>
        </div>
    </div>
</div>
