{% load static i18n %}
{% load crispy_forms_filters %}

<form class="modal-content"
      style="min-height: 70vh"
      hx-post="{{ request.path }}{% if form.type_filter %}?type_filter={{ form.type_filter }}{% endif %}"
      hx-target="#block-resources-modal-dialog"
      hx-swap="innerHTML"
      hx-encoding="multipart/form-data">
    <div class="modal-header">
        <h5 class="modal-title">
            {% trans "Select Block Resource from Library" %}
        </h5>
    </div>

    <div class="modal-body">
        {% csrf_token %}
        {{ form|crispy }}
    </div>

    <div class="modal-footer">
        <button class="btn btn-secondary action-button" type="button" data-bs-dismiss="modal">
            {% trans "Cancel" %}
        </button>
        <button class="btn btn-primary action-button" type="submit">
            {% trans "Save" %}
        </button>
    </div>
</form>
