{% extends "base.html" %}

{% load static i18n core_tags %}




{% block main_content %}

    <div class="container marketing-page">

        <div class="row ">
            <div class="col-12 col-lg-8">
                <h2> {% site_name %} FAQ</h2>
            </div>
        </div>
        
        <div class="row ">
            <div class="col-12 col-lg-8">
                <div class="faq-item">
                    <div class="question">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main_content %}




