{% extends "base.html" %}

{% load static i18n core_tags %}



{% block main_content %}

  <div class="container marketing-page">

    <h2> {% site_name %} Honor Code</h2>

    <p>When you register to use  {% site_name %}, you agree to rely on your own work when completing assessments,
      homework, problems, and other course material, unless working with other students or your mentors is part of the
      task. You agree to acknowledge all external sources when appropriate, and refrain from trying to improve your
      results via dishonest or fraudulent means. This Honor Code is not meant to stifle discussion within and outside
      any course. While you should submit work that is your own, we encourage you to generate knowledge by discussing
      course material with your peers and mentors.</p>


  </div>

{% endblock main_content %}




