{% extends "base.html" %}
{% load static i18n core_tags %}



{% block main_content %}

  <section class="container">

    <div class="trainer-info-wrapper">

      <div class="trainer-info-text" style="margin-top:2em; min-height: 600px">

        <p> Thank you! We've received your information, and we'll be in touch shortly to discuss more how we can help.
        </p>

        <p>All the best,</p>
        <p><em>The {% site_name %} Team</em></p>

        <br>
        <br>
        <br>
        <br>

      </div>

      <div class="trainer-info-form">

      </div>
    </div>


  </section>


{% endblock %}
