{% extends "course/course_base_default_page.html" %}
{% load static %}
{% load tz %}


{% block sidebar %}
    <!-- Don't show sidebar on course progress pages -->
{% endblock %}


{% block course_sub_nav %}

    <ul class="nav" id="course-progress-nav">
        <li class="nav-item {% if current_course_progress_tab == 'course_progress_overview' %}active{% endif %}">
            <a class="nav-link"
               href="{% url 'course:progress_overview_page' course_slug=course.slug course_run=course.run %}">
                Overview
            </a>
        </li>
        <li class="nav-item {% if current_course_progress_tab == 'course_progress_detail' %}active{% endif %}">
            <a class="nav-link"
               href="{% url 'course:progress_detail_page' course_slug=course.slug course_run=course.run %}">
                Detail
            </a>
        </li>
    </ul>

{% endblock %}

{% block page_content %}

    {% if course_admin_breadcrumbs %}
        <nav aria-label="breadcrumb" class=" mt-3">
            <ol class="breadcrumb">
                {% for breadcrumb in course_admin_breadcrumbs %}
                    <li class="breadcrumb-item" aria-current="page">
                        {% if breadcrumb.url %}
                            <a href="{{ breadcrumb.url }}">
                                {{ breadcrumb.label }}
                            </a>
                        {% else %}
                            {{ breadcrumb.label }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </nav>
    {% endif %}


    {% comment %}
    <div class="title-bar mt-3">
        <h3 class="flex-grow-1">
            {{ course_progress_page_title }}
        </h3>
        <div>
            {% block title_bar_controls %}

            {% endblock title_bar_controls%}
        </div>
    </div>
    {% endcomment %}

    {% block course_progress_content %}

    {% endblock course_progress_content %}

{% endblock %}

