/* QuickNav */
#quickNavModal {

  .modal-header {
    justify-content: left;
    align-items: center;
    background-color: #f1f1f1;
  }

  .modal-header i {
    margin-right: 0.5rem;
  }

  .quick-nav-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

    .quick-nav-tree {
      width: 50%;
      max-height: 500px;
      overflow: scroll;

      .node-content-index {
        min-width: 1.5rem !important;
        margin-left: 0.1rem;

        &.index-circle {
          border-radius: 50%;
          width: 1.5rem;
          height: 1.5rem;
          padding: 0.1rem;
          background: rgba(0, 0, 0, 0.05);
          border: rgba(0, 0, 0, 0.05);
          color: #000;
          text-align: center;
          font-size: 0.8rem;
          font-weight: 500;
        }
      }

      .node-display-name {
        margin-left: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .location-marker {
        width: 1.5rem;
        height: 1.2rem;
        border-radius: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #48677d;
        margin: 0.2rem;
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
      }

      .location-marker:hover {
        background-color: #ffc107;
      }

      .module-wrapper {
        display: flex;
        flex-direction: column;
        border: 1px solid #e0e0e0;
        background: #f9f9f9;
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        margin: 0 1rem 0.5rem 0;
        border-radius: 5px;
        font-size: 0.9rem;

        .module-label {
          cursor: default;
          height: 1.8rem;
          font-size: 0.9rem;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          border-radius: 0.1rem;
          margin: 0 0.5rem 0 0;
          border: 1px solid rgba(255, 255, 255, 0.3);
          background-color: rgba(255, 255, 255, 0.2);
          padding-left: 0.2rem;
        }

        .module-section-boxes {
          width: 100%;
          display: flex;
          flex-direction: column;


          .section-box {
            border: 1px solid #e0e0e0;
            background: #daecf9;

            .section-display-sequence {
              padding: 0 0.5rem 0 0.8rem;
              color: rgba(0, 0, 0, 0.5);
            }
          }

          .section {
            margin: .2rem 0;
            padding: 0.2rem 0.2rem 0.2rem 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            border-radius: 5px;
            flex-wrap: wrap;

            .section-label {
              cursor: default;
              width: 2rem; /* gives enough room for something like L10 */
              height: 1.5rem;
              font-size: 0.9rem;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              border-radius: 0.1rem;
              margin: 0 0.5rem 0 0;
            }

            .star-marker {
              margin: 0.2rem;
            }

            button {
              margin-right: 0.2rem;
            }
          }

        }

      }


    }

    .quick-nav-unit-info {
      width: 50%;

      .card-header {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .card-header .star-marker {
        margin-right: 0.7rem;
      }

      .card-body {

        max-height: 415px;
        overflow: scroll;

        .location-info {
          display: flex;
          flex-direction: row;
          margin-bottom: 0.5rem;

          .location-type {
            color: #aaa;
            min-width: 5rem;
          }

          .location-name {
            font-weight: 500;
          }
        }

        .htmx-indicator {
          display: none;
        }

        min-height: 20rem;

        .htmx-request {
          display: flex !important;
        }

        .spinner-wrapper {
          display: none;
          flex-direction: row;
          height: 100%;
          align-items: center;
          justify-content: center;

          .loading-message {
            margin-left: 1rem;
          }
        }

        #unit-summary {
          display: flex;
          flex-direction: column;

          .unit-blocks-contents {
            display: flex;
            flex-direction: column;
            padding-top: 1rem;

            .unit-block-contents {

              margin-top: 0.5rem;
              text-decoration: none !important;
              display: flex;
              flex-direction: row;


              .block-type-marker {
                color: inherit;
                background: #f1f1f1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                width: 5rem;
                padding-top: 1rem;
                padding-bottom: 1rem;

                &.video-icon {

                  background-color: #efc84a;

                  img {
                    width: 2rem;
                  }
                }

                i {
                  color: black;
                  font-size: 2rem;

                }

              }

              .block-info {
                width: 100%;
                border-top: 1px dotted #ccc;
                border-right: 1px dotted #ccc;
                border-bottom: 1px dotted #ccc;
                padding: 0.5rem;
                text-decoration: none;
                color: black;


                &.default-icon {
                  padding: 0.5rem;
                }

                img {
                  max-height: 4rem;
                }
              }


              &:hover {
                i {
                  color: var(--bs-link-color);
                }

                .block-info {
                  color: var(--bs-link-color);
                }
              }


              &.video-block {
                .block-info {
                  padding: 0 !important;
                }
              }
            }
          }
        }

        &.htmx-indicator {
          .unit-summary {
            display: none;
          }

          .spinner-wrapper {
            display: flex;
          }
        }

      }

    }


  }
}
