{% comment %} 

This template constructs an auto-submitting form to continue the
LTIv1.3 login process with an external tool. It shouldn't really be seen by the
user since it auto-submits upon loading and is, ideally, immediately replaced by
the external tool's response. 

This effectively the last step in the LTIv1.3 process. KinesinLMS has already
sent the inital "login request", the external tool has responded with the "login response",
KinesinLMS decided everything was all legit up to this point, and now KinesinLMS is 
sending the "resource link request" to the tool so the student can start using it.

{% endcomment %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>External Tool Launch</title>
    <meta http-equiv="Content-Security-Policy" content="frame-ancestors 'self' {{ external_tool_view.base_url }};"/>
  </head>
  <body>

    <h1>Test</h1>

    <form id="external-tool-launch-{{ external_tool_view.id }}"
          action="{{ external_tool_launch_data.launch_url }}"
          method="post"
          style="display: none;"
          enctype="application/x-www-form-urlencoded">
      {% csrf_token %}
      {% for launch_param_name, launch_param_value in external_tool_launch_data.launch_params.items %}
        <input id="external-tool-launch-{{ external_tool_view.id }}"
               name="{{ launch_param_name }}"
               value="{{ launch_param_value }}" />
      {% endfor %}
      <input type="submit" value="Continue" />
    </form>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var form = document.getElementById("external-tool-launch-{{ external_tool_view.id }}");
        form.submit();
      });
    </script>

    <div class="alert alert-info" role="alert">
      <p>Opening external tool...</p>
    </div>

  </body>
</html>
