{% extends "composer/composer_base.html" %}

{% load tz %}

{% load static i18n %}
{% load crispy_forms_filters %}

{% block extra_css %}

{% endblock extra_css %}

{% block main_content %}

    {{ block.super }}

    <div class="container-fluid composer-content course">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">{% trans "Course Resource" %}</div>
                    <div class="card-body">
                        <form action="{% url 'composer:educator_course_resource_update' course_id=course.id pk=educator_course_resource.id %}"
                              method="post">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <a href="{% url 'composer:resources_list' course_id=course.id %}"
                               type="button"
                               class="btn btn-secondary">{% trans "Cancel" %}</a>
                            <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main_content %}
