<p>Hello,</p>

<p>
    {% if course_program %}
        As you are associated with the {{ course_program }} program, you are requested to register with KinesinLMS
        so that you can be automatically enrolled in the '{{ course_name }}' course.
    {% else %}
        You are requested to register with KinesinLMS so that
        you can be automatically enrolled in the '{{ course_name }}' course.
    {% endif %}
</p>

<p><a href="{{ registration_url }}">Register Now</a></p>

{% if invitee_email %}
    <p>
        Please make sure to register with the email address {{ invitee_email }}
        as this is the email address we are expecting for registration and course enrollment.
    </p>
{% endif %}

<p>
    Once you register on the KinesinLMS platform you will be automatically enrolled in the '{{ course_name }}'
    course. You will receive an email letting you know that you are enrolled in the course and how to access the
    course.
</p>

<p>
    For more information please email <a href="mailto:courses@kinesinlms.org">courses@kinesinlms.org</a>
    or reach out to your program administration.
</p>

<p>- The KinesinLMS Team</p>

{% include 'core/email/email_footer.html' %}


