{% extends "composer/composer_base.html" %}

{% load tz %}

{% load crispy_forms_tags %}

{% load static i18n %}

{% block main_content %}

    <div class="container-fluid composer-content">

        <div class="row">
            <div class="col-12 col-lg-8">
                <h1>
                    {% blocktrans %}Export a Course{% endblocktrans %}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">

                <table class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>{% trans "Course" %}</th>
                            <th>{% trans "Export Format" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>
                                    {{ course.display_name }} <span class="text-muted">( {{ course.token }} )</span>
                                </td>
                                <td>
                                    <a href="{% url 'composer:course_download_export' course_slug=course.slug course_run=course.run %}">
                                        <button type="button"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                class="btn btn-primary">
                                            <i class="bi bi-download"></i>&nbsp;KinesinLMS
                                        </button>
                                    </a>
                                    <a href="{% url 'composer:course_download_export' course_slug=course.slug course_run=course.run %}?export_format=COMMON_CARTRIDGE_FULL">
                                        <button type="button"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                class="btn btn-secondary ms-5">
                                            <i class="bi bi-download"></i>&nbsp;CommonCatridge
                                        </button>
                                    </a>
                                    <a href="{% url 'composer:course_download_export' course_slug=course.slug course_run=course.run %}?export_format=OPEN_EDX">
                                        <button type="button"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                class="btn btn-secondary ms-2">
                                            <i class="bi bi-download"></i>&nbsp;Open edX
                                        </button>
                                    </a>

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-lg-3">
                <p>
                    {% blocktrans %}Select a course to export. Two export formats are current supported.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>

{% endblock main_content %}
