// Definitions for colors used throughout site

// SOME DEFAULT PROPERTIES
// Min height for content areas
$min-content-height: 80vh;


// SITE COLORS

// (none defined yet)


// COURSE COLORS

// The course header nav is the thin bar above the course
// that connects the tabs like "Course" and "Progress"
// Default color is a light yellow.
$course-header-nav-color: #fef8e6; //#fef8e6; //#f9f4e4
$course-footer-nav-color: #fef8e6; //#fef8e6; //#f9f4e4