<p>Hi {{ informal_name }},</p>

<p>Thank you for taking the "{{ course.name }}" course. We hope you enjoyed it and learned a lot!</p>

<p>We are continuously working to improve our courses which means your feedback is very important to us. If you haven’t
    yet done so, please take several minutes to complete our post-course survey, available here:</p>

<p><a href="{{ survey_url }}">Begin survey</a></p>

<p>We appreciate the time you take to fill out this survey.</p>

{% include 'survey/base/default_closing.html' %}



