{% extends "management/management_base.html" %}

{% load static i18n management_tags %}

{% load crispy_forms_tags %}

{% block management_content %}

    <div class="row">
        <div class="col-12 col-lg-8 col-xl-6">
            <div class="card">
                <div class="card-header">{% trans "Create an External Tool Provider" %}</div>
                <div class="card-body">

                    {% include 'management/provider/external_tool/include/external_tool_provider_form.html' with form_action="create" %}

                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-xl-6">
            <strong>Managing External Tool Providers</strong>
            <p>
                "External Tool Providers" are external websites or services that provide
                learning tools you can include in your course. Most tools will be connected
                via the "LTI" standard, but some may use other methods.
            </p>

            <p>
                When you indicate which "type" the tool is, the fields required for
                that type will be enabled in the form.
            </p>
        </div>
    </div>

{% endblock management_content %}
